@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.img {
    max-width: 100%;
}

.landingbg {
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url('../assets/images/BG.jpg') no-repeat center center fixed;
    background-size: 100%;
    display: flex;
    justify-content: center;
}